<div class="container px-4 mx-auto my-2 md:px-12">
  <div class="flex flex-wrap -mx-1 rounded-md shadow-md justify-evenly dark:shadow-slate-700 lg:-mx-4 bg-slate-300/75 dark:bg-slate-700/75">
    <% for (const collection of sortArrayBy(collections, query.sort, query.descending)) { %>
    <%- await include("collection.ejs", { collection }) %>
    <% } %>
  </div>
</div>