		</main>
		<footer class="py-1 pr-1 text-right border-t dark:text-gray-300 dark:bg-gray-900 border-slate-500">
		  Copyright © 2022 <a href="https://josephmilliken.com">Joseph Milliken</a>. All rights reserved
		</footer>
		</body>

		</html>