		</main>
		<footer class="flex justify-between py-1 pr-1 text-right border-t dark:text-gray-300 bg-slate-100/30 dark:bg-gray-900/30 border-slate-500/50">
		  <div class="theme-switch">
		    <input type="checkbox" class="theme-switch__input" id="theme-toggler" />
		    <label class="theme-switch__label" for="theme-toggler" aria-label="Switch to dark theme">
		      <span class="theme-switch__indicator"></span>
		      <span class="theme-switch__decoration"></span>
		    </label>
		  </div>
		  <script>
		    const themeSwitch = document.querySelector('#theme-toggler');
		    themeSwitch.addEventListener('change', function() {
		      const isDark = document.documentElement.classList.toggle('dark');
		      localStorage.setItem('r2Theme', isDark ? 'dark' : 'light');
		    });
		    themeSwitch.checked = !document.documentElement.classList.contains('dark');
		  </script>
		  <a href="https://github.com/RascalTwo/VideoUserMarkers">
		    <img alt="Version <%= version %> icon" src="https://img.shields.io/badge/VERSION-<%= version %>-blue?style=for-the-badge&logo=github">
		  </a>
		  <p>
		    Copyright © 2022 <a href="https://josephmilliken.com">Joseph Milliken</a>. All rights reserved
		  </p>
		</footer>
		</body>

		</html>