		</main>
		<footer class="py-1 pr-1 text-right text-gray-300 bg-gray-900 border-t border-slate-500">
		  Copyright © 2022 <a href="https://josephmilliken.com">Joseph Milliken</a>. All rights reserved
		</footer>
		</body>

		</html>